

#navbar{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3rem;
    background-color: #1b2fa3;
    flex-direction: row;
    border-radius: 0 0 15px 15px;
}

#title{
    display: flex;
    align-items: center;
    flex-direction: row;
}

#title-name{
    list-style-type: none;
    padding-left: .9rem;
}

#title-name-header1{
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    padding-left: .9rem;
}

#title-name-header2{
    font-size: 1.2rem;
    text-decoration: none;
    color: #d1d1d1;
}

#logo-rudn{
    block-size: 3.5rem;
}

#right-header-side{
    display: flex;
    align-items: center;
    gap:1rem;
}

#navbar-inner-top{
    border-block-end: 1px solid #210868;
    padding-block-end: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation-search{
    gap: .4rem;
    display: flex;
    align-items: center;
    justify-content: right;
}

#navigation-search-input{
    outline: none; background: transparent; background: #f1f3f4; border: 1px solid transparent; padding: .5rem .5rem; border-radius: 25px;
}

#navigation-search-input:focus-within{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}

#navbar-inner-bottom{
    padding-block: 1rem;
    border-block-end: 1px solid #210868;
    display: flex;
    align-items: center;
    gap: .4rem;
    justify-content: flex-end;
}

.shadowed{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.active{
    box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
}


@media (max-width: 70.125rem) {
    #navbar{
        padding: .5rem;
        flex-direction: column;
    }

    #logo-rudn{
        block-size: 3rem;
    }

    #navbar-inner-top{
        padding: .5rem;
    }

    #title{
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    #title-name-header1{
        font-size: 1.3rem;
    }
    
    #title-name-header2{
        font-size: .8rem;
    }

    #right-header-side{
        padding-bottom: 0;
    }
}

p{
    font-size: 1.4rem;
    color: #20015a;
}

h2{
    color: #20015a;
}

h1{
    font-size: 2rem;
    font-weight: 900;
    margin: 1rem 0;
    gap: .5rem;
    background: linear-gradient(to right, #1b2fa3, #a331a3, #ff6f61);
    color: transparent;
    background-clip: text;
}

.text-header{
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    background-color: #ffffff;
    border: 0px;
    cursor: pointer;
    padding-bottom: .4rem;
}

.text-header:hover{
    color: #146cdf;
}

.button-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    margin-bottom: 10rem;
}

.grad-button{
    background: linear-gradient(to bottom, #1b2fa3, #a331a3, #ff6f61);
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    padding: 1rem 1.6rem 1rem .8rem;
    border-radius: 25px;
    font-size: .9rem;
    text-decoration: none;
}

.vid-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 7rem;
}

.first-vid-desc{
    text-align: left;
}

.term{
    font-weight: bold;
    color: #20015a;
}

.full-text{
    border-bottom: 1px solid #bebebe;
    padding-bottom: 1rem;
}

body{
    margin:0;
    font-family: PF Agora Sans Pro, Arial, sans-serif;
}

.centered{
    text-align: center;
}

#lead{
    font-size: 2.5rem;
    margin: 3rem 1rem;
    color: #20015a;
}

#lead-inner-header{
    font-size: 3rem;
}



#cards-describtion{
    width: 19rem;
    margin-right: 2rem;
}

#specific-break{
    display: none;
}

.content-container{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.content-body{
    width: 65.125rem;
}

.rocket-back{
    background-image: url(https://lib.obs.ru-moscow-1.hc.sbercloud.ru:443/PATENTS/rocket.svg);
    background-size:100% 100%;
    padding-top: 5rem;
    padding-bottom: 12rem;
    flex-grow: 1;
}

#featured-tech{
    border-radius: 25px;
    background: linear-gradient(to bottom, #ff6f61, #a331a3, #1b2fa3);
    color: #ffffff;
    padding: 2px;
    margin: 0 3rem;
}

#featured-tech-with-magic-border{padding: 1.5rem 0; background-color: #1966ff; border-radius: 25px;}

#tech-name{
    font-size: 2rem;
    margin: 0 0 4rem 0;
    font-weight: bold;
}

#tech-name-link{
    color: #ffffff; text-decoration: none;
}

#tech-name-link:hover{
    color: #87f5fd; text-decoration: underline;
}

.button{
    background-color: #ffffff;
    padding: .8rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}


.button-for-special-people{
    background: transparent;
    color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    border: 0px;
    padding: 9px;
    border-radius: 4px;
}

.button-for-special-people:hover{
    background-color: #20015a;
    text-decoration: underline;
}

/* .button:hover{
    background-color: #20015a;
    color: #ffffff;
    text-decoration: underline;
} */

.deviant-icon{
    block-size: 3.2rem;
}

#cc-wrap{
    margin-bottom: 0;
}

#search{
    background: #f1f3f4;
    border: 1px solid transparent;
    margin: 1rem;
    padding: .7rem;
    border-radius: 50px;
    gap: .5rem;
    display:flex;
    align-items: center;
}

.search-button{
    background: none;
    border: none;
    font-size: 2rem;
}

#search-input{
    outline: none;
    background: transparent;
    border: none;
    font-size: 2rem;
    width: 40rem;
}

#search:focus-within{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}

#categories-container{
    padding-bottom: 20rem;
}

.categories{
    width: 100%;
    margin-bottom: 7rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    justify-content: center;
    gap: 2rem;
}

.category{
    text-align: center;
    color: #fff;
    position: relative;
    width: 15rem;
    /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2); */
    transition: transform .2s;
    padding: 2px;
    border-radius: 25px;
}


.category:hover{
    transform: scale(1.05);
}

.icon{
    padding: 2rem 0;
    font-size: 3rem;
    background: linear-gradient(45deg, #ffffff, #e0e0e0, #ffffff);
    background-clip: text;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.418), 0 0 10px rgba(255, 255, 255, 0.363);
}

.label{
    color: #20015a;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem;
    font-weight: 900;
    background: #ffffff;
    border-radius: 25px;
    height: 5rem;
    display: flex; flex-direction: column; justify-content: center;
}

.label:hover{
    background: transparent;
    color: #ffffff;
}

li::marker{
    color:#20015a;
    font-size: 1.4rem;
}

.doc-link{
    color:#20015a;
    text-decoration: none;
}

.doc-link:hover{
    color:#a331a3;
    text-decoration: underline;
}

#learn-container{
    margin-top: -17rem;
}

#learn{
    padding: 2rem 3rem;
}

#learn-header{
    margin: 0 0 2rem 0;
    font-size: 4rem;
    color: #ffffff;
}

.mobile-wrapper {
    display: flex; flex-direction: row; justify-content: left;
}


#cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    margin-bottom: 2rem;
    overscroll-behavior: contain;
    scrollbar-width: none;
    overflow: auto;
    padding: .9rem;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
    transition: left 0.9s ease;
    background-color: #eeeeee44;
    border-radius: 25px;
}

.card{
    background-color: #ffffff;
    padding: 1.5rem;
    min-width: 14rem;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.1rem;
    height: 17rem;
    transition: transform .2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

#facts{
    font-size:5rem; font-weight: 900; writing-mode: sideways-lr; margin: 0; color: #c4c4c4; padding-top: 5rem; padding-bottom: 12rem;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.disappearing{
    animation-name: disappear;
    animation-timeline: view();
    animation-range-start: exit -100%;
    height: 8rem;
}

@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}

@keyframes disappear{
    0%{
        opacity: 0.9;
        scale: .99;
    }
    50%{
        opacity: 0.5;
        scale: .95;
    }
    75%{
        opacity: 0.3;
        scale: .93;
    }
    100%{
        visibility: hidden;
        opacity: 0;
        scale: .9;
    }
}

#docs{padding-bottom: 4rem;
}

#patents{
    font-size:1.5rem; font-weight: 900; margin: 0 0 1rem 31%;
}
#registrations{
    font-size:1.5rem; font-weight: 900; margin: 6rem 0 7rem 72%;
}
#labels{
    font-size:1.5rem; font-weight: 900; margin: 2rem 0 0 60%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsla(0, 0%, 7%, .4);
}

.modal-cross {
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
}

.copy-button{
    color: #ffffff; background-color: #1b2fa3; font-size: 1.3rem; padding: .5rem 1rem; border: none; border-radius: 25px; width: 20rem; display: flex; justify-content: space-between; align-items: center;
}

.copy-button:hover{
    background-color: #324de4;
}

.copy-button:focus{
    color: #bbb9b9;
    background-color: #182366;
}


@media (max-width: 70.125rem) {

    h1{
        font-size: 2rem;
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    


    #gradient-background {
        position: absolute;
        top: 50rem;
        height: 100rem;
    }

    .full-text{
        padding: 0 1rem;
    }

    #lead {
        font-size: 1.5rem;
        margin: 2rem 1rem;
    }

    #lead-inner-header{
        font-size: 2rem;
    }

    #specific-break{
        display: block;
    }

    #featured-tech{
        border-radius: 10px;
        margin: 0;
    }

    #facts{
        display: none;
    }

    .rocket-back{
        padding-top: 0;
        padding-bottom: 2rem;
    }

    #patents{
        margin: 2rem 0 0 20%;
        font-size: 1rem;
    }
    #registrations{
        margin: 1rem 0 2rem 60%;
        font-size: 1rem;
        text-shadow: -1px 0 #a5a5a5, 0 1px a5a5a5, 1px 0 a5a5a5, 0 -1px a5a5a5;
    }
    #labels{
        margin: 2rem 0 0 60%;
    }

    #cards-describtion{
        width: unset;
        margin: .9rem;
    }
    

    #tech-name{
        font-size: 1.6rem;
    }


    #search{
        margin: 1rem 0;
        padding: .5rem;
        gap: .5rem;
    }

    .search-button{
        font-size: 1.5rem;
    }

    #search-input{
        width: 15.125rem;
        font-size: 1.5rem;
    }

    #categories-container{
        padding-bottom: 0;
    }

    .categories{
        gap: 0;
        padding: 20px 0;
    }

    .category{
        margin: .5rem;
        width: 100%;
        min-height: 6rem;
    }

    .active-category{
        width: 10rem;
        height: 10rem;
    }

    .label{
        font-size: 1rem;
        padding: 0;
    }

    .icon{
        padding: 1rem 0;
    }

    #learn-container{
        margin-top: -1.3rem;
    }

    #learn{
        margin-bottom: 4rem;
        padding: 3rem 1rem 1rem 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }

    #learn-header{
        font-size: 2.5rem;
        text-align: center;
    }

    .mobile-wrapper {
        flex-direction: column;
        padding: 1rem;
    }

    #cards{
        flex-direction: column;
        overscroll-behavior: unset;
        scrollbar-width: unset;
        overflow: hidden;
        padding: 0;
    }

    .card{
        margin-bottom: 1rem;
        max-width: 100%;
        height: auto;
    }

    #docs{
        padding-bottom: unset;
        padding: 1rem 1rem 4rem 1rem;
    }

    .disappearing{
        animation-range: unset;
        height: auto;
    }

    @keyframes disappear{
        0%{
            opacity: .1;
            scale: .8;
        }
        50%{
            opacity: 1;
            scale: 1;
        }
        100%{
            opacity: .1;
            scale: .8;
        }
    }
}

footer{
    margin: 1rem 0 0 0;
    padding: 8rem 4rem .4rem 4rem;
}

#too-complex-navbar-for-literally-no-reason{
    margin-bottom: 3rem; display: flex; flex-direction: row;
}

#footer-logo-rudn{
    block-size: 4rem;
    margin-bottom: 1.5rem;
}

.point{
    margin: 0 2rem .8rem 0;
}

.footer-link{
    font-size: 1.1rem;
    color: #747474;
    text-decoration: none;
}

.footer-link:hover{
    text-decoration: underline;
}

@media (max-width: 70.125rem){
    #too-complex-navbar-for-literally-no-reason{
        flex-direction: column;
    }
}